@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: rgb(8, 8, 8);
    z-index: 999;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{
    text-decoration: none;
    color: rgb(43, 255, 0);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navgation a{
    color: rgb(43, 255, 0);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;padding-left: 30px;

}
.navgation a:hover{
    color: rgb(22, 131, 0);
}



section{
    padding: 100px 200px;

}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(imgs/backimg.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    
}
.main h2{
    color: #ffffff;
    font-size: 1em;
    font-weight: 400;
    text-shadow: 5px 0 4px #000000;

}
.main h2 span{
    display: inline-block;
    color: #33ff00;
    font-size: 3.5em;
    font-weight: 600;
    margin-top: 7px;
    text-shadow: 3px 0 3px #000000;
}
.main h3{
    color: white;
    font-size: 1.5em;
    font-weight: 400;
    text-shadow: 4px 1px 3px #000000;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.main-btn{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    background-color: #33ff00;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-bottom: 40px;
    transition: 0.4s ease;
}
.main-btn:hover{
    background-color: #27c500;
    transform: scale(1.1);
}

.icons a{
     color: #ffffff;
     font-size: 1.7em;
     padding-right: 20px;
     transition: 0.4s ease;
}
.icons a :hover{
    color: rgb(189, 189, 189);
   transform: scale(1.1);
}

.aboutus h1{
    padding-bottom: 10px;
    font-size: 2.5em;
}

.aboutus p{
    font-size: 1.2em;
    font-weight: 400;
}


.services{
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    background-color: rgb(10, 10, 10);
    padding-left: 250px ;
}
.services h1{
    color: #ffffff;
}
.services p{
    color: #ffffff;
    padding-top: 60px;
}


/*login page
*/

.login{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(imgs/backimg.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}

.login div{
    background-color: #181818ec;
    align-items: center;
    padding: 60px;
    margin-left: 250px;
    border-radius: 10px;
    
}

.login div .inpt{
    margin-bottom: 30px;
}

.login div .backto{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
    padding-bottom: 20px;
    display: inline-block;
    transition: 0.5s ease;
}
.backto:hover{
    color: #272727;
    transform: scale(1);
}

.login div a{
    text-decoration: none;
    color: #ffffff;
}

.chek{
    padding-left: 10px;
    
}

.login .inpt{
    width: 200px;
    height: 25px;
    background-color: #2b2b2bec;
    border-color: #979797;
    border-radius: 4px;
}

.login .chuk{
   margin-bottom: 30px;
}

.loginbtn{
    background-color: #33ff00;
    padding: 10px 130px;
    border-radius: 10px;
    display: inline-block;
    letter-spacing: 1px;
    transition: 0.5s ease;
}
.loginbtn:hover{
    background-color: #1d9100;
    transform: scale(1.1);
}